header{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
#logo{
    height: 80px;
    width: 50px;
    margin-left: 5px;
    border: 3px rgb(134, 0, 0) solid;
    border-radius: 30px;
}
ul{
    padding-top: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
body{
    background-color: rgb(63, 1, 1);
    margin: 0%;
    text-align: center;
}
ul a:hover{
    text-decoration: underline;
}
