header{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    margin-top: 10px;
    padding: 0px;
}
h3{
    margin: 0px;
    padding-bottom: 10px;
    font-style: italic;
}
#logo{
    height: 90px;
    width: 70px;
    margin-left: 5px;
    border: 3px rgba(134, 0, 0, 0.744) solid;
    border-radius: 300px;
}
ul{
    padding-top: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
body{
    background-color: rgb(63, 1, 1);
    margin: 0%;
    text-align: center;
}
ul a:hover{
    color: rgb(249, 64, 64);
}
#img1{
    width: 100%;
}